# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.Right_Location.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../:\Unity_Projects\Right_Location\.idea\.idea.Right_Location\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
